.breadcrumb{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0; 
    > li{
        &::after{
            content: "/";
            display: inline-block;
            margin: 0 .3em;
        }
        &:last-child{
            &::after{
                display: none;
            }
        }
    }
    a{
        text-decoration: none;
        font-size: 1em;
        color: var(--themeic-color-content-primary);
    }
}
.social-icons{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    a{
        color: var(--themeic-color-content-secondary);
        text-decoration: none;
    }
}