.muia-slide-basic{
    min-height: 100vh;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    [data-go]{
        cursor: pointer; 
    }
    .overlay{
        background-color: rgba(0,0,0,.3);
        position: absolute;
        inset: 0;
        z-index: 45;
    }
    .title-wrapper {
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
        z-index: 5;
        display: flex;
        margin-left:auto;
        margin-right: auto;
        width: 40%;
        .slide-title-item {
            display: inline-block; 
            color: transparent;  
            line-height: 1;
            font-size: 6.5vw;   
            -ms-flex-negative: 0;   
                flex-shrink: 0;
            white-space: nowrap;
            text-align: center;
            margin-bottom: 0;
            padding-left: 0.227em;
            padding-right: 0.227em; 
            width: 100%;
            --color:white;
              -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: var(--color);
  font-family: "Poppins", Sans-serif; 
  transition: color 1s cubic-bezier(.4, 0, 0, 1); 
            &.active{
                color: var(--color);
            }
        }
    }
    .pagi-wrapper{ 
        position: relative;
        z-index: 4;
        font-size: 5.208vw;
        --pagination-h:3.45em; 
        align-items: center;
    }
    .slide-bg-wrap{
        position: absolute;  
        z-index: 0;
        height: 100%;
        width: 100%; 
        top: 0;
        left: 0; 
        overflow: hidden;
    }
    .slide-bg-item{    
        position: absolute;
        inset: 0;
        z-index:calc(40 - var(--index));  
        -webkit-clip-path:inset(0 var(--cright) 0 var(--cleft));
        clip-path:inset(0 var(--cright) 0 var(--cleft));
        .sb-item{
            height: 100%;
            width: 100%;
        }
    }
    .sb-item{ 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;  
    }
    .pagi-wrapper {
        height: var(--pagination-h);
        display: flex;
    }
    .muia-thumb-pagi {height: 100%;display: flex;gap: 15px; overflow: hidden;}
    .muia-thumb-pagi-wrapper {
        height:var(--pagination-h);  
        width: 40%;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: 30px; 
    }
    .muia-thumb-pagi .pagi-thumb {
        width: 35%;
        height: 100%;
        flex-shrink: 0;
        --x:0;
        --gx:0;
        transform: translateX(calc(var(--x) + var(--gx)));
    }
    .muia-prev, .muia-next{
        font-size: 1.146vw;
    }
    .muia-slide-nav {
        display: flex;
        gap: 15px;
    }   
    .muia-dot-pagi{
        margin-left: 40px; 
    }
    @media (max-width:991px){
        padding-bottom: 50px;
        padding-top: 50px; 
        .muia-dot-pagi{
            margin-left: 20px;
            font-size: 9px; 
        }
        .muia-thumb-pagi-wrapper{
            width: 70%;
        }
       .pagi-wrapper{
        font-size: 45px;
       }
       .muia-prev,.muia-next {  
            font-size: 15px;
        }
        .title-wrapper .slide-title-item{ 
            font-size: 11.5vw; 
        }
        .title-wrapper { 
            width: 70%;
        }
    }
}


