:root,html.light-mode{  
  /* Smooth UI */
  --th-transition-smooth: all .25s cubic-bezier(.4,0,.2,1);

  /* Expo */
  --th-transition-expo-out: all .5s cubic-bezier(0.16,1,0.3,1);
  --th-transition-expo-in: all .5s cubic-bezier(0.7,0,0.84,0);
  /* Mode helpers */
  --themeic-show-light:block;
  --themeic-show-dark:none;

  /* Back */
  --th-transition-back-out: all .3s cubic-bezier(0.34,1.56,0.64,1);
  --th-transition-back-in: all .3s cubic-bezier(0.36,0,0.66,-0.56);

  --themeic-ff-headings:"Big Shoulders", sans-serif;
  --themeic-ff-base:"Sora", sans-serif;

    /* --- The Master Alpha Controller --- */
    --themeic-color-alpha: 1;
    --themeic-color-brand-rgb: 97, 85, 245;           /* #6155F5 */

    /* Changeable Color */
    --themeic-color-surface-rgb: 243, 247, 250;           /* #F3F7FA */
    --themeic-color-secondary-surface-rgb: 255, 255, 255;           /* #F3F7FA */
    --themeic-color-content-primary-rgb: 0, 0, 0;         /* #000000 */
    --themeic-color-content-primary-inverse-rgb: 255, 255, 255;         /* #000000 */
    --themeic-color-content-secondary-rgb: 97, 97, 97;    /* #616161 */
    --themeic-color-content-muted-rgb: 133, 136, 137;     /* #858889 */
    --themeic-color-content-disabled-rgb: 171, 173, 175;  /* #ABADAF */
    --themeic-color-outline-strong-rgb: 230, 230, 230;    /* #E6E6E6 */
    --themeic-color-outline-medium-rgb: 204, 207, 210;    /* #CCCFD2 */
    --themeic-color-outline-weak-rgb: 231, 234, 237;      /* #E7EAED */
    --themeic-color-outline-faint-rgb: 224, 228, 230;     /* #E0E4E6 */

    /* Fixed Color */
    --themeic-color-surface: rgba(var(--themeic-color-surface-rgb), var(--themeic-color-alpha));
    --themeic-color-secondary-surface: rgba(var(--themeic-color-surface-rgb), var(--themeic-color-alpha));
    --themeic-color-brand: rgba(var(--themeic-color-brand-rgb), var(--themeic-color-alpha));
    --themeic-color-content-primary: rgba(var(--themeic-color-content-primary-rgb), var(--themeic-color-alpha));
    --themeic-color-content-primary-inverse: rgba(var(--themeic-color-content-primary-inverse-rgb), var(--themeic-color-alpha));
    --themeic-color-content-secondary: rgba(var(--themeic-color-content-secondary-rgb), var(--themeic-color-alpha));
    --themeic-color-content-muted: rgba(var(--themeic-color-content-muted-rgb), var(--themeic-color-alpha));
    --themeic-color-content-disabled: rgba(var(--themeic-color-content-disabled-rgb), var(--themeic-color-alpha));
    --themeic-color-outline-strong: rgba(var(--themeic-color-outline-strong-rgb), var(--themeic-color-alpha));
    --themeic-color-outline-medium: rgba(var(--themeic-color-outline-medium-rgb), var(--themeic-color-alpha));
    --themeic-color-outline-weak: rgba(var(--themeic-color-outline-weak-rgb), var(--themeic-color-alpha));
    --themeic-color-outline-faint: rgba(var(--themeic-color-outline-faint-rgb), var(--themeic-color-alpha));
}
@media (prefers-color-scheme: dark){
  :root:not(.light-mode){
  --themeic-show-light:none;
  --themeic-show-dark:block;

    --themeic-color-surface-rgb: 17, 17, 17;           /* #111 */
    --themeic-color-secondary-surface-rgb: 29, 29, 29;           /* #F3F7FA */
    --themeic-color-content-primary-rgb: 255, 255, 255;         /* #fff */
    --themeic-color-content-primary-inverse-rgb: 0, 0, 0;
    --themeic-color-content-secondary-rgb: 183, 183, 183;    /* #616161 */
    --themeic-color-content-muted-rgb: 124, 124, 124;     /* #858889 */
    --themeic-color-content-disabled-rgb: 88, 88, 88;  /* #ABADAF */
    --themeic-color-outline-strong-rgb: 51, 51, 51;    /* #E6E6E6 */
    --themeic-color-outline-medium-rgb: 55, 55, 55;    /* #CCCFD2 */
    --themeic-color-outline-weak-rgb: 29, 29, 29;      /* #E7EAED */
    --themeic-color-outline-faint-rgb: 36, 36, 36;     /* #E0E4E6 */
  }
}
html.dark-mode{  
  --themeic-show-light:none;
  --themeic-show-dark:block;  

  --themeic-color-surface-rgb: 17, 17, 17;           /* #111 */
  --themeic-color-content-primary-rgb: 255, 255, 255;         /* #fff */
  --themeic-color-content-primary-inverse-rgb: 0, 0, 0;
  --themeic-color-content-secondary-rgb: 183, 183, 183;    /* #616161 */
  --themeic-color-content-muted-rgb: 124, 124, 124;     /* #858889 */
  --themeic-color-content-disabled-rgb: 88, 88, 88;  /* #ABADAF */
  --themeic-color-outline-strong-rgb: 51, 51, 51;    /* #E6E6E6 */
  --themeic-color-outline-medium-rgb: 55, 55, 55;    /* #CCCFD2 */
  --themeic-color-outline-weak-rgb: 29, 29, 29;      /* #E7EAED */
  --themeic-color-outline-faint-rgb: 36, 36, 36;     /* #E0E4E6 */
}