@use '../abstracts/mixins' as *;
html{
    font-size: 16px;
}
body{
    line-height:1.75rem;
    font-family: var(--themeic-ff-base);
    background-color: var(--themeic-color-surface);
    color: var(--themeic-color-content-secondary);
    font-size: 0.875rem;
    @include lg{
        font-size: 1rem;
    }
}
.title-h1,.title-h2,.title-h3,.title-h4,.title-h5,.title-h6,h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    margin-top: 0;
    margin-bottom: .8rem;
    color: var(--themeic-color-content-primary);
    line-height:122%;  
}
.title-h1,.title-h2,.title-h3,.title-h4,.title-h5,.title-h6,h1,h2,h3,h4,h5,h6{
    font-family: var(--themeic-ff-headings);
}
.auto-title-space{
    margin-bottom:.9em; 
}

.title-h1,h1{
    font-size: 3rem;
    @include xl{
        font-size: 8rem; // 128px
    }
    @include max_md{
        font-size: 4rem; 
    }
}
.title-h2,h2{
    font-size: 2.8rem;
    @include xl{
        font-size: 4.5rem; // 72px
    }
    @include max_md{
        font-size:2.3rem;
    }
}
.title-h3,h3{ 
    font-size: 2.8rem;
    @include xl{
        font-size:3.25rem; // 52px
    }
    @include max_md{
        font-size:2.3rem;
    }
}
.title-h4,h4,.comment-reply-title,.comments-title{  
    font-size:1.625rem;
    @include xl{
        font-size: 2rem; // 32px
    }
}
.title-h5,h5{
    font-size: 1.55rem;
    @include xl{
        font-size: 1.75rem; // 28px
    }
}
.title-h6,h6,.comments-area .comment-author{
    font-size: 1.125rem;
    @include xl{
        font-size:1.25rem; // 20px
    }
}
.text-lg{
    font-size:1rem;
    @include xl{
        font-size:1.125rem;
    }
    line-height: 130%;
}
.text-md{
    font-size: 0.8rem;
    @include lg{
        font-size: 0.875rem; //14px
    }
    line-height: 130%;
}
.text-sm,.comment-metadata > a{
    line-height: 130%;
    font-size:0.69rem; 
    @include lg{
        font-size: 0.75rem; //12px
    }
}
.display-h1{
    line-height: 103%;
    @include xxl{
        font-size: 12.5rem;
    }
    @include max_xxl{
        font-size: 8.5rem;
    }
    @include max_md{ 
        font-size:4rem;
    }
}
.fw-100{font-weight: 100;}
.fw-200{font-weight: 200;}
.fw-300{font-weight: 300;}
.fw-400{font-weight: 400;}
.fw-500{font-weight: 500;}
.fw-600{font-weight: 600;}
.fw-700{font-weight: 700;}
.fw-800{font-weight: 800;}
.fw-900{font-weight: 900;}
.text-sora{
    font-family: "Sora", sans-serif;
}
.text-big-shoulders{
    font-family: "Sora", sans-serif;
}