@use '../abstracts/mixins' as *;

.container-fluid,.header-container{
    padding-inline:1rem;
    @include xxl{ 
        padding-inline: 3.3rem;
    }
}
.container-fluid,.header-container,.container{
  @include max_xxl{ 
        padding-inline:1.5rem;
    }
}
.th-show-light{
  display: var(--themeic-show-light);
}

.th-show-dark{
  display: var(--themeic-show-dark);
}

.th-text-primary-brand{
  color: var(--themeic-primary);
}

.th-text-secondary-brand{
  color: var(--themeic-secondary);
}

.th-bg-primary{
  background-color: var(--themeic-primary);
}

.th-bg-secondary{
  background-color: var(--themeic-secondary);
}

.th-text-white{
  color: var(--themeic-white);
}

.th-text-black{
  color: var(--themeic-black);
}

.th-bg-white{
  background-color: var(--themeic-white);
}

.th-bg-black{
  background-color: var(--themeic-black);
}

.th-bg-body{
  background-color: var(--themeic-color-surface);
}

.th-text-primary{
  color: var(--themeic-color-content-primary);
}

.th-text-secondary{
  color: var(--themeic-color-content-secondary);
}

.th-text-muted{
  color: var(--themeic-text-muted);
}

.th-text-disabled{
  color: var(--themeic-text-disabled);
}

.th-border{
  border-color: var(--themeic-border);
}

.th-border-strong{
  border-color: var(--themeic-border-strong);
}

.th-border-muted{
  border-color: var(--themeic-color-outline-medium);
}

.th-border-subtle{
  border-color: var(--themeic-border-subtle);
}

.mr-space-12{
  margin-right: 1.4rem !important;
}
.ml-space-12{
  margin-left: 1.4rem !important; 
}
@include lg{
  .mr-space-12{
    margin-right: 3.313rem !important;
  }
  .ml-space-12{
    margin-left: 3.313rem !important; 
  }
}
@include xl{
  .mr-space-12{
    margin-right: 6rem !important;
  }
  .ml-space-12{
    margin-left: 6rem !important;
  }
}
@include xxl{
  .mr-space-12{
    margin-right: 12.5rem !important;
  }
  .ml-space-12{
    margin-left: 12.5rem !important;
  }
}

.pr-space-12{
  padding-right: 1.4rem !important;
}
.pl-space-12{
  padding-left: 1.4rem !important; 
}
@include lg{
  .pr-space-12{
    padding-right: 3.313rem !important;
  }
  .pl-space-12{
    padding-left: 3.313rem !important; 
  }
}
@include xl{
  .pr-space-12{
    padding-right: 6rem !important;
  }
  .pl-space-12{
    padding-left: 6rem !important;
  }
}
@include xxl{
  .pr-space-12{
    padding-right: 12.5rem !important;
  }
  .pl-space-12{
    padding-left: 12.5rem !important;
  }
}

.gap-x-53{
  column-gap:1.4rem;
  @include lg{
    column-gap:2rem;
  }
  @include xl{
    column-gap: 3.313rem;
  }
}
.gap-2{
  gap: 1rem;
}
.gap-4{
  gap: 2rem;
}
.gap-x-4{
  column-gap: 2rem;
}
.gap-y-4{
  row-gap: 2rem;
}
.gap-x-2{
  column-gap: 1rem;
}
.gap-y-2{
  row-gap: 1rem;
}
.gap-1{
  gap: .5rem;
}
.gap-x-1{
  column-gap: .5rem;
}
.gap-y-1{
  row-gap: .5rem;
}
.max-w-550{
  max-width: 550px; 
}

.text-center{
  text-align: center;
}

.bg-grd-muted{
  background: var(--themeic-bg-gradient-muted);
}
.sec-space-y,.sec-space-top,.sec-space-bottom{
  --space:4rem;
  @include xl{
  --space:6.9rem;
  }
  @include max_md{
  --space:3.3rem;
  }
  &.sec-md-space{
    --space:4.25rem;
  }
}
.sec-space-y{
  padding-block:var(--space);
}
.sec-space-top{
  padding-top:var(--space);
}
.sec-space-bottom{
  padding-bottom:var(--space);
}
.sec-rounded{
    border-radius:4rem;
  @include xl{
    border-radius: 6.25rem;
  }
  @include max_md{
    border-radius:2.5rem;
  }
}
.max-w-350{
  max-width: 350px; 
}
.single-post-content{
    margin-top: 2.2rem;
} 
.themeic-comment-section{
  margin-top:8.313rem;
} 
.bg-white{
  background-color: #fff;
}
.bg-base{
  background:var(--themeic-color-surface);
}
.bg-on-base{
  background-color:rgba(var(--themeic-color-secondary-surface-rgb), 1);
}