.themeic-muia-logo::after{
    display: inline-block;
    font-size: 10px;
    font-style: normal;
    font-weight: 100;
    padding: 1px 2px;
    background-image: url('../img/motionui-logo-black.svg');
    height: 14px;
    width: 14px;  
    background-position: center;
    background-repeat: no-repeat;
    display: block;   
    content: ""; 
}
.elementor-element .icon .themeic-muia-logo::after, .elementor-navigator__element__element-type .themeic-muia-logo::after {
    position: absolute;
    right: 6px;
    top: 6px;
    opacity: 0.7;
}
.elementor-navigator__element__element-type .themeic-muia-logo::after {
    top: 8px;
    right: 10px;
    opacity: 0.3;
}
.el-editor-logo-wrap{
    display: flex;
    align-items: center;
    gap: 5px;
}       
@media (prefers-color-scheme: dark) {
    .themeic-muia-logo::after{
        background-image: url('../img/motionui-logo-white.svg');
    }
}   
.muia-element--promotion .eicon-lock {
    transform: translateY(20px) translateX(-2px);
} 
.muia-pro-notice-content h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4; 
    margin-top: 20px;
}
.muia-pro-notice-content p {
    line-height: 1.8;
    font-size: 11px;
    margin-top: 5px;
}
.muia-pro-notice-content .elementor-button {
    background-color: #d30c5c;
    color: #fff;
    padding: 7px 25px;
    margin-top: 20px;
    border: none;
    box-shadow: 0 0 1px rgba(0,0,0,.1),0 2px 2px rgba(0,0,0,.1);
    transition: .5s;
}
.muia-pro-notice-content{
    text-align:center;
}
.muia-pro-notice.no-thumb h4{
    margin-top: 10px;
}