.sticky-das-nav-top-30 {
    top: 33px;
}
.th-das-content-wrapper .th-left-nav {
    top: 53px;
    padding-top: 20px;
    padding-inline: 20px;
    flex-direction: column;
    padding-bottom: 20px;
}
.logo-text2{
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 15px;
    display: block;
}
.th-das-btn:hover,.th-das-btn:focus{
    color: #fff;
} 
.th-das-btn:hover,.th-das-btn:focus,.th-das-navbar li>a:focus {
    box-shadow: none;
    outline: none !important;
} 
.nav-left-footer {
    margin-top: auto;
    position: sticky;
    bottom: 20px;
    z-index: 55;
}
.th-das-btn{
    justify-content: center;
} 
.themeic-das-wrap {
    margin-top: 20px;
    margin-right: 20px;
}   
.th-das-navbar li{
    margin: 0;
}
.th-das-navbar li.current-menu-item>a i, .th-das-navbar li.current-menu-parent>a i{
    font-weight: 900;
}
[href="admin.php?page=motion-ui-addons"] .wp-menu-image img {
    width: 19px;
    margin-top: 1px;
}
[href="admin.php?page=motion-ui-addons"].current .wp-menu-image img {
    opacity:1 !important; 
} 
.themeic-das-header .logo-wrap img {
    width: 29px;
}
.themeic-das-header .logo-wrap {
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 18px;
} 