/*Buttons styles*/
.visibility__hidden {
  visibility: hidden;
}

.muia-btn-wrap {
  display: inline-block;
}

.muia-btn {
  --padding:1.1em 2.7em;
  --bg-color: #ffffff;
  --border-radius: 20rem;
  --hover-color: #fff;
  --hover-bg-color: #6155f5;
  --border-color: #111;
  --hover-border-color:#6155f5;
  --color: #111;
  --btn-current-height:3.23em;
  --circle-btn-size: 11.563rem;
  --icon-rotation:0deg;
  --icon-gap:8px;
  --icon-gap-plus-height: calc(var(--icon-gap) + var(--btn-current-height));
  --transition-duration:.5s;
  --border-width:1px;
  --border-style:solid;
  font-size: 1.063rem;
  line-height: 100%;
  display: inline-flex;
  padding: var(--padding);
  color: var(--color);
  background-color: var(--bg-color);
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  position: relative;
  align-items: center;
  justify-content: center;
  gap: var(--icon-gap);
  transition: border var(--transition-duration) cubic-bezier(0.4, 0, 0, 1), color var(--transition-duration) cubic-bezier(0.4, 0, 0, 1), transform var(--transition-duration) cubic-bezier(0.4, 0, 0, 1);
}
.muia-btn:hover {
  border-color: var(--hover-border-color);
  color: var(--hover-color);
}
.muia-btn span {
  display: inline-block;
}
@media (max-width: 1199.9px) {
  .muia-btn {
    font-size: 0.875rem;
  }
}
.muia-btn .muia-btn-icon-inner {
  position: relative;
  display: flex;
  transform: rotate(var(--icon-rotation));
}
.muia-btn .muia-btn-icon-inner .muia-btn-icon, .muia-btn .muia-btn-icon-inner svg {
  height: auto;
  width: 1em;
}
.muia-btn .muia-btn-icon-inner .icon-secondary, .muia-btn .muia-btn-icon-inner svg:nth-child(2) {
  position: absolute;
  inset: 0;
  opacity: 0;
}
.muia-btn:not(.muia-btn-stroke-icon) .muia-btn-icon-inner svg path {
  fill: currentColor;
}
.muia-btn:is(.muia-btn-stroke-icon) .muia-btn-icon-inner svg path {
  stroke: currentColor;
}
.muia-btn .muia-btn-text-wrap, .muia-btn .muia-btn-icon-wrap {
  position: relative;
  z-index: 5;
}
.muia-btn.muia-btn-separate-circle-icon.muia-icon-pos-left {
  margin-left: var(--icon-gap-plus-height);
}
.muia-btn.muia-btn-separate-circle-icon.muia-icon-pos-right {
  margin-right: var(--icon-gap-plus-height);
}
.muia-btn.muia-btn-separate-circle-icon .muia-btn-icon-wrap {
  position: absolute;
  top: 0;
  height: var(--btn-current-height);
  width: var(--btn-current-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
}
.muia-btn.muia-btn-separate-circle-icon .muia-btn-icon-wrap-left {
  right: calc(100% + var(--icon-gap));
}
.muia-btn.muia-btn-separate-circle-icon .muia-btn-icon-wrap-right {
  left: calc(100% + var(--icon-gap));
}
.muia-btn.muia-btn-separate-circle-icon:hover .muia-btn-icon-wrap {
  border-color: var(--hover-border-color);
}
.muia-btn.muia-btn-circle {
  --padding:.7em;
  height: var(--circle-btn-size);
  width: var(--circle-btn-size);
}
.muia-btn .muia-btn-ani, .muia-btn .muia-icon-ani {
  position: absolute;
  --elgap:2px;
  left: calc(-1 * var(--elgap));
  top: calc(-1 * var(--elgap));
  width: calc(100% + var(--elgap) * 2);
  height: calc(100% + var(--elgap) * 2);
  z-index: 0;
  overflow: hidden;
  border-radius: var(--border-radius);
}
.muia-btn .muia-btn-text-wrap {
  --text-sy:1em;
}
.muia-btn.muia-btn-wave .muia-btn-text-wrap, .muia-btn.muia-btn-reveal .muia-btn-text-wrap {
  overflow: hidden;
}
.muia-btn.muia-btn-wave .muia-btn-text {
  text-shadow: 0 var(--text-sy) currentColor;
  transition: transform var(--transition-duration) cubic-bezier(0.4, 0, 0, 1);
}
.muia-btn.muia-btn-wave:hover .muia-btn-text {
  transform: translateY(calc(-1 * var(--text-sy)));
}
.muia-btn.muia-btn-reveal {
  background-color: transparent;
  border: none;
}
.muia-btn.muia-btn-reveal .muia-btn-icon-wrap {
  background-color: transparent;
  border: none;
}
.muia-btn.muia-btn-reveal .muia-btn-ani, .muia-btn.muia-btn-reveal .muia-icon-ani {
  background-color: var(--bg-color);
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  transition: border var(--transition-duration) cubic-bezier(0.4, 0, 0, 1), transform var(--transition-duration) cubic-bezier(0.4, 0, 0, 1), background-color var(--transition-duration) cubic-bezier(0.4, 0, 0, 1);
}
.muia-btn.muia-btn-reveal:hover .muia-btn-ani, .muia-btn.muia-btn-reveal:hover .muia-icon-ani {
  transform: scale(0.94);
  background-color: var(--hover-bg-color);
  border-color: var(--hover-border-color);
}
.muia-btn.muia-btn-reveal .muia-btn-text .char {
  text-shadow: 0 var(--text-sy) currentColor;
  transition: transform var(--transition-duration) cubic-bezier(0.625, 0.05, 0, 1);
  transition-delay: calc(0.01s * var(--index));
}
.muia-btn.muia-btn-reveal:hover .muia-btn-text .char {
  transform: translateY(calc(-1 * var(--text-sy)));
}
.muia-btn.muia-btn-wave .muia-btn-icon-inner, .muia-btn.muia-btn-reveal .muia-btn-icon-inner {
  overflow: hidden;
}
.muia-btn.muia-btn-wave .muia-btn-icon-inner svg, .muia-btn.muia-btn-wave .muia-btn-icon-inner i, .muia-btn.muia-btn-reveal .muia-btn-icon-inner svg, .muia-btn.muia-btn-reveal .muia-btn-icon-inner i {
  transition: transform var(--transition-duration) cubic-bezier(0.4, 0, 0, 1);
}
.muia-btn.muia-btn-wave .muia-btn-icon-inner svg:nth-child(2), .muia-btn.muia-btn-wave .muia-btn-icon-inner i:nth-child(2), .muia-btn.muia-btn-reveal .muia-btn-icon-inner svg:nth-child(2), .muia-btn.muia-btn-reveal .muia-btn-icon-inner i:nth-child(2) {
  opacity: 1;
  transform: translateX(-100%);
}
.muia-btn.muia-btn-wave:hover .muia-btn-icon-inner svg:nth-child(1), .muia-btn.muia-btn-wave:hover .muia-btn-icon-inner i:nth-child(1), .muia-btn.muia-btn-reveal:hover .muia-btn-icon-inner svg:nth-child(1), .muia-btn.muia-btn-reveal:hover .muia-btn-icon-inner i:nth-child(1) {
  transform: translateX(100%);
}
.muia-btn.muia-btn-wave:hover .muia-btn-icon-inner svg:nth-child(2), .muia-btn.muia-btn-wave:hover .muia-btn-icon-inner i:nth-child(2), .muia-btn.muia-btn-reveal:hover .muia-btn-icon-inner svg:nth-child(2), .muia-btn.muia-btn-reveal:hover .muia-btn-icon-inner i:nth-child(2) {
  transform: translateX(0%);
}
.muia-btn.muia-btn-wave .muia-btn-ani, .muia-btn.muia-btn-wave .muia-icon-ani {
  --shape-round:50%;
  --shape-y:101%;
}
.muia-btn.muia-btn-wave .muia-btn-ani::before, .muia-btn.muia-btn-wave .muia-icon-ani::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-color: var(--hover-bg-color);
  width: 100%;
  height: 100%;
  transform: translateY(var(--shape-y));
  border-radius: var(--shape-round) var(--shape-round) 0 0;
  transition: transform var(--transition-duration) cubic-bezier(0.4, 0, 0, 1), border-radius var(--transition-duration) cubic-bezier(0.4, 0, 0, 1);
}
.muia-btn.muia-btn-wave:hover .muia-btn-ani, .muia-btn.muia-btn-wave:hover .muia-icon-ani {
  --shape-y:0%;
}
.muia-btn.muia-btn-wave:hover .muia-btn-ani::before, .muia-btn.muia-btn-wave:hover .muia-icon-ani::before {
  transition-duration: var(--transition-duration), calc(var(--transition-duration) * 1.8);
}
.muia-btn.muia-btn-wave:not(.muia-btn-circle):hover .muia-btn-ani {
  --shape-round:0%;
}

.muia-prev, .muia-next {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(17px);
  border-color: transparent;
  color: #fff;
  height: 2.955em;
  width: 2.955em;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
}
.muia-prev:hover, .muia-next:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: transparent;
}
.muia-prev:focus, .muia-next:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: transparent;
}

.muia-dot-pagi {
  font-size: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  --active-line:2em;
  --gap: .4em;
  --transition-duration:.5s;
  gap: var(--gap);
  width: 3.5em;
}
.muia-dot-pagi .dot-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: margin var(--transition-duration) cubic-bezier(0.4, 0, 0, 1);
}
.muia-dot-pagi .dot-item span {
  height: 1em;
  width: 1em;
  border: 1px solid currentColor;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  transition: all var(--transition-duration) cubic-bezier(0.4, 0, 0, 1);
}
.muia-dot-pagi .dot-item::after, .muia-dot-pagi .dot-item::before {
  content: "";
  width: 1px;
  background-color: currentColor;
  height: 0;
  transition: height var(--transition-duration) cubic-bezier(0.4, 0, 0, 1);
}
.muia-dot-pagi .dot-item:first-child::before {
  display: none;
}
.muia-dot-pagi .dot-item:last-child::after {
  display: none;
}
.muia-dot-pagi .dot-item.active {
  margin-bottom: calc(-1 * var(--gap));
  margin-top: calc(-1 * var(--gap));
}
.muia-dot-pagi .dot-item.active::after, .muia-dot-pagi .dot-item.active::before {
  height: var(--active-line);
}
.muia-dot-pagi .dot-item.active span {
  height: 3em;
  width: 3em;
  color: #fff;
}

.muia-slide-basic {
  min-height: 100vh;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.muia-slide-basic [data-go] {
  cursor: pointer;
}
.muia-slide-basic .overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  inset: 0;
  z-index: 45;
}
.muia-slide-basic .title-wrapper {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  z-index: 5;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.muia-slide-basic .title-wrapper .slide-title-item {
  display: inline-block;
  color: transparent;
  line-height: 1;
  font-size: 6.5vw;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 0;
  padding-left: 0.227em;
  padding-right: 0.227em;
  width: 100%;
  --color:white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color);
  font-family: "Poppins", Sans-serif;
  transition: color 1s cubic-bezier(0.4, 0, 0, 1);
}
.muia-slide-basic .title-wrapper .slide-title-item.active {
  color: var(--color);
}
.muia-slide-basic .pagi-wrapper {
  position: relative;
  z-index: 4;
  font-size: 5.208vw;
  --pagination-h:3.45em;
  align-items: center;
}
.muia-slide-basic .slide-bg-wrap {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.muia-slide-basic .slide-bg-item {
  position: absolute;
  inset: 0;
  z-index: calc(40 - var(--index));
  -webkit-clip-path: inset(0 var(--cright) 0 var(--cleft));
  clip-path: inset(0 var(--cright) 0 var(--cleft));
}
.muia-slide-basic .slide-bg-item .sb-item {
  height: 100%;
  width: 100%;
}
.muia-slide-basic .sb-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.muia-slide-basic .pagi-wrapper {
  height: var(--pagination-h);
  display: flex;
}
.muia-slide-basic .muia-thumb-pagi {
  height: 100%;
  display: flex;
  gap: 15px;
  overflow: hidden;
}
.muia-slide-basic .muia-thumb-pagi-wrapper {
  height: var(--pagination-h);
  width: 40%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.muia-slide-basic .muia-thumb-pagi .pagi-thumb {
  width: 35%;
  height: 100%;
  flex-shrink: 0;
  --x:0;
  --gx:0;
  transform: translateX(calc(var(--x) + var(--gx)));
}
.muia-slide-basic .muia-prev, .muia-slide-basic .muia-next {
  font-size: 1.146vw;
}
.muia-slide-basic .muia-slide-nav {
  display: flex;
  gap: 15px;
}
.muia-slide-basic .muia-dot-pagi {
  margin-left: 40px;
}
@media (max-width: 991px) {
  .muia-slide-basic {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .muia-slide-basic .muia-dot-pagi {
    margin-left: 20px;
    font-size: 9px;
  }
  .muia-slide-basic .muia-thumb-pagi-wrapper {
    width: 70%;
  }
  .muia-slide-basic .pagi-wrapper {
    font-size: 45px;
  }
  .muia-slide-basic .muia-prev, .muia-slide-basic .muia-next {
    font-size: 15px;
  }
  .muia-slide-basic .title-wrapper .slide-title-item {
    font-size: 11.5vw;
  }
  .muia-slide-basic .title-wrapper {
    width: 70%;
  }
}

.muia-ani-wrap {
  position: relative;
}

.has-muia-img-ani {
  --cl:0%;
  --cr:0%;
  --ct:0%;
  --cb:0%;
}

.muia-ani-wrap .muia-img-grid-reveal {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.muia-ani-wrap .muia-img-grid-reveal span {
  background-size: var(--elw);
  background-position-x: calc(var(--col-index) * 50%);
  background-repeat: no-repeat;
  background-position-y: calc(var(--row-index) * 100%);
  clip-path: inset(var(--ct) var(--cr) var(--cb) var(--cl));
}

.muia-img-column-reveal .muia-img-grid-reveal {
  grid-template-columns: none;
}
.muia-img-column-reveal .muia-img-grid-reveal span {
  background-position-x: 0;
  background-position-y: calc(var(--col-index) * 50%);
}

.has-muia-img-ani.muia-img-reveal {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --cr1:0%;
  --cb1:0%;
  --cl1:100%;
  --cb1:0%;
  --cl2:100%;
  --ct1: 100%;
  --cr2: 0;
  --ct2: 100%;
}
.has-muia-img-ani.muia-img-reveal img {
  clip-path: polygon(var(--cr1) var(--cb1), var(--cl1) var(--cb1), var(--cl2) var(--ct1), var(--cr2) var(--ct2));
}

/*header styles*/
/*Cards styles*/
/*Breadcrumb Style*/
/*Hero Style*/
/*Themeic Icons*/
/*Themeic Icons*/
/*Themeic Icons*/

/*# sourceMappingURL=widgets.css.map */
