@use '../abstracts/mixins' as *;
.burger-navbar,.burger-navbar ul,.header-navbar ul,.header-navbar,.social-icons{
    padding: 0;
    margin: 0;
    list-style: none;
}
.header-container{
    padding-block: 1rem;
    .logo{
        display: block;
        img{
            max-width: 3.75rem; 
        }
    }
    @include md{ 
       .logo{ img{
            max-width:100%;
        }
        }
    }
    @include xl{ 
        padding-block: 0rem;
    }
} 
.header-gap-12{
    gap: 8rem;
    @include xxl{ 
        gap: 12.5rem;
    }
} 
.header-area-wrap,.header-area{
    position: relative;
    z-index: 999;
}
.header-area{
    transition:var(--th-transition-expo-out);   
}
.header-overlay,.burger-menu-overlay{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;top: 0;
    background-color: rgba(0,0,0,.2);
    z-index: 100;
    opacity: 0;
    visibility: hidden;  
    transition:var(--th-transition-expo-out);     
}
.burger-menu-overlay{
    z-index: 3;
}
.header-area-wrap{
    &.absolute-header,&.fixed-header{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    &.fixed-header{
        position: fixed;
    }
    &.active-sub-menu{
        .header-area{
            background-color: var(--themeic-color-surface);
        }
        .header-overlay{
            opacity: 1;
            visibility: visible;
        }
    }
    &.active-burger-menu{
        .burger-menu-overlay{
            opacity: 1;
            visibility: visible;
        }
    }
    .btn-menu-toggle,.toggle-btn-wrap{
        position: relative;
        z-index: 5;
    }
}
.admin-bar{
    .header-area-wrap.fixed-header{
        margin-top: 32px;
    }
}
.header-area-wrap{
    &.active-sub-menu,&.active-burger-menu{
        .header-overlay{
            opacity: 1;
            visibility: visible;
        }
    }
}
.header-navbar{    
        display: flex;   
        flex-wrap: wrap;   
        align-items: center;
        justify-content: start;  
        gap:50px;
        --sub-padding:15px;
        --sub-space:10px;
        --child-sub-space:0px;
        --sub-min-w:250px;
        position: relative;
        li{ 
            position: relative; 
            z-index: 2;    
            display: flex;
            align-items: center; 
            > a{  
                display: flex; 
                align-items: center;    
                font-size:1rem;
                font-weight:normal; 
                line-height:115%; 
                color:var(--themeic-color-content-primary);  
                padding:2.5rem 0;      
                position: relative;  
                transition:all .25s;   
                white-space: nowrap; 
                text-decoration: none; 
                @include max_xl{
                    font-size:0.875rem; 
                }
            } 
            .angle__down{      
                font-size:14px;
                margin-left:7px;  
            }
            &.has-themeic-mega-menu{
                position: initial;
                z-index: initial;
                > a{
                    position: relative;
                    z-index: 5;
                }
                .sub-menu{
                    display: none; 
                }
            }
            .themeic-mega-menu{
                position: absolute;
                left: 50%;
                --initial-radius:15rem;
                --real-radius:1rem;
                --inner-scale:.5;
                --innerY:50%;
                --innerX:-33.33%;
                transform: translateX(-50%);
                background-color:rgba(var(--themeic-color-secondary-surface-rgb), 0.8);
                backdrop-filter: blur(10px);
                border-radius: var(--initial-radius); 
                z-index: 1;
                overflow: hidden;
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
                @include xl{
                    top: 0;
                }
                @include max_xl{
                    bottom: 0;
                }
                .themeic-mega-menu-inner{
                    padding: 3.5rem 1rem 1rem 1rem;
                    transform-origin: top; 
                    @include xl{
                        min-width: 800px;
                        padding: 3.5rem 1rem 1rem 1rem;
                        transform: translateY(var(--innerY)) translateX(var(--innerX)) scale(var(--inner-scale));
                    }
                    @include max_xl{
                        padding: 1rem 1rem 3.5rem 1rem;
                        min-width: calc(100vw - 3rem);
                        transform: translateY(calc(-1 * (var(--innerY) * 2.5))) translateX(var(--innerX)) scale(var(--inner-scale));
                    }
                }
            }
            &:hover{
                .themeic-mega-menu{
                     
                }
            }
            .sub-menu{
                margin: 0;
                position: absolute;
                left: 0;
                top:100%;
                width: max-content; 
                min-width: calc(var(--sub-min-w));
                text-align: left; 
                padding-top: calc(var(--sub-padding) + var(--sub-space));
                padding-bottom: var(--sub-padding);
                padding-inline: var(--sub-padding);
                opacity: 0;
                visibility: hidden;
                transition:var(--th-transition-expo-out);   
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center; 
                z-index: 5;
                display: flex;
                flex-direction: column;
                gap: 4px;
                > li{
                    --index:0;
                    transform: translateY(15px);
                    transition:all .5s cubic-bezier(0.16,1,0.3,1); 
                    transition-delay: calc(var(--index) * .04s);
                }
                &::before{
                    content: "";
                    height: calc(100% - var(--sub-space));
                    width: 100%;
                    right: 0;top: var(--sub-space);
                    background-color:var(--themeic-color-surface);
                    z-index: 0;
                    position: absolute;
                    border-radius: 8px;
                    transform: scale(.8);
                    transition:transform .3s cubic-bezier(0.34,1.56,0.64,1); 
                }
                .sub-menu{
                    padding:var(--sub-padding);
                    min-width: calc(calc(var(--sub-min-w)) + var(--sub-padding) + var(--sub-space) + var(--child-sub-space));
                    > li{
                        padding-left: calc(var(--sub-padding) + var(--sub-space) + var(--child-sub-space));
                    }
                    &::before{
                        top: 0;
                        width: calc(100% - calc(var(--sub-padding) + var(--sub-space) + var(--child-sub-space))); 
                        height: 100%;
                    }
                }
                > li{ 
                    > a{
                        padding:13px 17px;
                        width: 100%;
                        position: relative;
                        z-index: 1;
                        &::before{
                            content: "";
                            height: 100%;
                            width: 100%;
                            left: 0;top: 0;
                            background-color: rgba(var(--themeic-color-content-primary-rgb), 0.05);
                            z-index: -1;
                            position: absolute;
                            border-radius: 8px;
                            transform: scale(.9);
                            opacity: 0;
                            transition:all .5s cubic-bezier(0.16,1,0.3,1); 
                        }
                    }  
                    > a{
                        &:hover{
                            &::before{
                            transform: scale(1);
                            opacity: 1;
                            }
                        }
                    }
                    &.current-menu-item,&.current-menu-parent{
                        > a{
                            &::before{
                                opacity: 0;  
                            }
                        }
                    }
                    .angle__down{
                        margin-left: auto;
                        padding-left: 10px;
                        transform:rotate(-90deg); 
                    }
                }
                .sub-menu{
                    top:0;
                    left:100%;
                }
                > li{
                    &:hover{   
                        // > ul{
                        //     top: 0; 
                        //     opacity: 1;
                        //     visibility: visible; 
                        // }
                    }   
                } 
            }
            .mega-menu-item{
                position: absolute;
                top: 0; 
                left:var(--offset-left);
                width: 100vw;
                visibility: hidden;
                opacity: 0;
                transition:all 0.25s ease;   
                z-index: -1;
                ul{
                    padding: 0;
                    border-top: 0;
                    background-color: transparent;
                    li{
                        a{
                            color: #fff;
                            padding: 0; 
                        }
                    }
                }
            }
        }
        &.menu-text-secondary{ 
            li {
                a{
                    color: var(--themeic-color-content-secondary);
                }
                &:hover{
                    a{color: var(--themeic-color-content-primary);}
                }
            }
        }
        
        .menu-item.has-mega-menu{
            z-index: 1;
        } 
        li {
            &:hover{
                > .sub-menu{
                    top: 100%; 
                    opacity: 1;
                    visibility: visible;  
                    > li{
                        transform: translateY(0);
                        opacity: 1;
                    }
                    &::before{
                        transform: scale(1);
                    }
                }
                > .mega-menu-item{
                    opacity: 1;
                    visibility: visible; 
                }
            }
            .sub-menu li{
                &:hover{
                    > .sub-menu{
                        top: 0;
                    }
                }
            }
        }
        &.vertical-navbar{
            flex-direction: column;
            gap: 0;
            li {
                width: 100%;
                a{
                    padding:5px 0;
                }
                > .sub-menu{
                    display: none;
                }
            }
        }
        &.nav-style-rounded{
            padding:0.7rem;
            gap: .5rem;
            --sub-space:1.25rem;
            --child-sub-space: -8px;
            --radius:30rem;
            position: relative;
            border-radius: var(--radius);
            box-shadow: 0px 3px 1rem rgba(0,0,0,.05);
            flex-wrap: nowrap;
            @include max_xl{
                padding: 0.5rem;

            }
            > li:not(.has-themeic-mega-menu){
                z-index: 5;
            }
            &::before{
                content: "";
                background-color: rgba(var(--themeic-color-secondary-surface-rgb), 0.8);
                backdrop-filter: blur(10px);
                inset: 0;
                border-radius: var(--radius);
                z-index: 0;
                position: absolute;
            }
                    
            li{  
                >  a{
                    padding:.5rem .75rem;
                    border-radius: 30rem;
                    @include max_xl{
                        padding:0.4rem 0.6rem;
                        
                    }
                }
                &.current-menu-item{
                    > a{
                        background-color: var(--themeic-color-content-primary);
                        color: var(--themeic-color-content-primary-inverse);
                    }
                }
            }
            .sub-menu{
                &::before{
                    background-color:rgba(var(--themeic-color-secondary-surface-rgb), 0.95);
                    backdrop-filter: blur(10px);
                }
            }
        }
        &.navbar-abs-center{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            @include max_xl{
                position: fixed;
                bottom: 1.875rem;
            }
        }
    }
    .has-nav-slide-ind{    
        &.nav-style-rounded > li.current-menu-item > a, .nav-style-rounded > li.current-menu-item > a, > li.current-menu-item > a{
            background-color: transparent; 
        }
        .nav-indicator-back,.nav-indicator-front{
            background-color: var(--themeic-color-content-primary);
            border-radius: 50rem;
            z-index: 2; 
            opacity: var(--opacity);
        }
        .nav-indicator-back{ 
            background-color: transparent;
            &::before{
                content: "";
                position: absolute;
                inset: 0;
                opacity: .05; 
                background-color: var(--themeic-color-content-primary);
                border-radius: 50rem;
            }
        }
    }

.themeic-burger-navbar-wrap{
    --initial-top:20px;
    --initial-right:20px;
    --toggle-btn-x:-1rem;
    --toggle-btn-y:2.188rem;
    --top:20px;
    --right:20px;
    position: absolute;
    right:var(--initial-right);
    top: var(--initial-top);
    z-index: 4;
    background-color: var(--themeic-color-surface);
    overflow: hidden; 
    display: flex;
    justify-content: end;
    border-radius: 15px;
    transform: scale(0);
    transform-origin: top right; 
    opacity: 0;
    visibility: hidden;
    @include max-md{ 
        width: calc(100% - var(--top) * 2);
    }
    @include max-xxl{ 
            --toggle-btn-x:-3.4rem;
    --toggle-btn-y:2.62rem;
    }
    @include max-md{ 
        --toggle-btn-x:-2.2rem;
        --toggle-btn-y:1.85rem;
    }
    .burger-menu-header {
        margin-bottom: 1.875rem;
    }
    .burger-menu-inner{
        max-height: calc(100vh - var(--top) * 2);
        overflow-y: auto;
        @include md{ 
            min-width: 600px;
            padding: 3.125rem;
        }
        @include max-md{ 
            width: 100%;
            padding: 2rem;
        }
    }  
}  
.burger-navbar{ 
    font-size:3.25rem;
    @include max-md{ 
       font-size: 2rem;
    }
    li{
        position: relative;
        a{
            color: var(--themeic-color-content-primary);
            text-decoration: none;
            display: block;
            padding:.8rem 0;
            font-size: 1em;
            line-height: 120%;
            @include max-md{ 
                padding:0.5rem 0;
            }
        }
        .sub-menu{
            font-size: .6em;
            padding-left: 1.5rem;
            display: none;
            li > a{
                padding:.4rem 0;
            }
        }
    }
}
.plusminus-icon{
    position: absolute;
    height: var(--height);
    width: var(--height);
    top: 0;
    right: 0;
    z-index: 5;
    &.active {
        &:before {
            transform: translatey(-50%) rotate(-90deg);
            opacity: 0;
        }
        &:after {
            transform: translatey(-50%) rotate(0);
        }
    }
    
    &:before , &:after {
        content: "";
        display: block;
        background-color: #333;
        position: absolute;		
        top: 50%; right: 0;
        transition: .35s;
        width: 50%;
        height: 2px;
    }
    
    &:before {		
        transform: translatey(-50%);
    }
    
    &:after {
        transform: translatey(-50%) rotate(90deg);
    }
}
.header-py{
   @include xl{
     padding-block: 1.25rem;
   }
}